My first experiment with ML. Titanic problem from Kaggle!
https://www.kaggle.com/c/titanic/data

In [28]:
# Imports

# pandas
import pandas as pd

data = pd.read_csv('./Data/train.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [29]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [41]:
data.drop(['PassengerId', 'Name', 'Ticket'], axis=1)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,0,3,male,22.0,1,0,7.2500,NaN,S
1,1,1,female,38.0,1,0,71.2833,C85,C
2,1,3,female,26.0,0,0,7.9250,NaN,S
3,1,1,female,35.0,1,0,53.1000,C123,S
4,0,3,male,35.0,0,0,8.0500,NaN,S
5,0,3,male,NaN,0,0,8.4583,NaN,Q
6,0,1,male,54.0,0,0,51.8625,E46,S
7,0,3,male,2.0,3,1,21.0750,NaN,S
8,1,3,female,27.0,0,2,11.1333,NaN,S
9,1,2,female,14.0,1,0,30.0708,NaN,C
10,1,3,female,4.0,1,1,16.7000,G6,S
11,1,1,female,58.0,0,0,26.5500,C103,S
12,0,3,male,20.0,0,0,8.0500,NaN,S
13,0,3,male,39.0,1,5,31.2750,NaN,S
14,0,3,female,14.0,0,0,7.8542,NaN,S
15,1,2,female,55.0,0,0,16.0000,NaN,S
16,0,3,male,2.0,4,1,29.1250,NaN,Q
17,1,2,male,NaN,0,0,13.0000,NaN,S
18,0,3,female,31.0,1,0,18.0000,NaN,S
19,1,3,female,NaN,0,0,7.2250,NaN,C
20,0,2,male,35.0,0,0,26.0000,NaN,S
21,1,2,male,34.0,0,0,13.0000,D56,S
22,1,3,female,15.0,0,0,8.0292,NaN,Q
23,1,1,male,28.0,0,0,35.5000,A6,S
24,0,3,female,8.0,3,1,21.0750,NaN,S
25,1,3,female,38.0,1,5,31.3875,NaN,S
26,0,3,male,NaN,0,0,7.2250,NaN,C
27,0,1,male,19.0,3,2,263.0000,C23 C25 C27,S
28,1,3,female,NaN,0,0,7.8792,NaN,Q
29,0,3,male,NaN,0,0,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...
861,0,2,male,21.0,1,0,11.5000,NaN,S
862,1,1,female,48.0,0,0,25.9292,D17,S
863,0,3,female,NaN,8,2,69.5500,NaN,S
864,0,2,male,24.0,0,0,13.0000,NaN,S
865,1,2,female,42.0,0,0,13.0000,NaN,S
866,1,2,female,27.0,1,0,13.8583,NaN,C
867,0,1,male,31.0,0,0,50.4958,A24,S
868,0,3,male,NaN,0,0,9.5000,NaN,S
869,1,3,male,4.0,1,1,11.1333,NaN,S
870,0,3,male,26.0,0,0,7.8958,NaN,S
871,1,1,female,47.0,1,1,52.5542,D35,S
872,0,1,male,33.0,0,0,5.0000,B51 B53 B55,S
873,0,3,male,47.0,0,0,9.0000,NaN,S
874,1,2,female,28.0,1,0,24.0000,NaN,C
875,1,3,female,15.0,0,0,7.2250,NaN,C
876,0,3,male,20.0,0,0,9.8458,NaN,S
877,0,3,male,19.0,0,0,7.8958,NaN,S
878,0,3,male,NaN,0,0,7.8958,NaN,S
879,1,1,female,56.0,0,1,83.1583,C50,C
880,1,2,female,25.0,0,1,26.0000,NaN,S
881,0,3,male,33.0,0,0,7.8958,NaN,S
882,0,3,female,22.0,0,0,10.5167,NaN,S
883,0,2,male,28.0,0,0,10.5000,NaN,S
884,0,3,male,25.0,0,0,7.0500,NaN,S
885,0,3,female,39.0,0,5,29.1250,NaN,Q
886,0,2,male,27.0,0,0,13.0000,NaN,S
887,1,1,female,19.0,0,0,30.0000,B42,S
888,0,3,female,NaN,1,2,23.4500,NaN,S
889,1,1,male,26.0,0,0,30.0000,C148,C
890,0,3,male,32.0,0,0,7.7500,NaN,Q